.App {}

.App-body {
    height: 60vh;
    padding: 3vh;
}

hr {
    color: rgb(255, 0, 64);
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}